{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.message }}</div>
    {% endif %}

    <div class="flex h-screen lg:flex-row lg:flex-wrap lg:flex-col">
        {% include './layout/welcome_nav.html.twig' %}
        <div class="w-full lg:w-3/4">
            <div class="flex min-h-full flex-col px-6 py-12 lg:px-8">
                <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                    {% include './components/title.html.twig' with {
                        'balise': 'h2',
                        'title': 'Connectez-vous',
                    } %}
                </div>
                {% if app.user %}
                    <div class="flex flex-col justify-between items-center mb-3">
                        <div>
                            Vous êtes connecté en tant que {{ app.user.userIdentifier }},
                            {% include './components/a.html.twig' with {
                                'path': path('app_logout'),
                                'class': 'text-red-600 hover:text-red-500',
                                'label': 'Déconnexion',
                            } %}
                        </div>
                        <div>
                            {% include './components/a.html.twig' with {
                                'path': path('app_index'),
                                'class': 'text-blue-600 hover:text-blue-500',
                                'label': 'Revenir vers l\'accueil',
                                'fa': 'home'
                            } %}
                        </div>
                    </div>
                {% endif %}

                <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                    {{ form_start(form) }}
                        {% for child in form.children %}
                            <div class="mb-4">
                                {{ form_row(child) }}
                            </div>
                        {% endfor %}
                    {% include './components/button.html.twig' with {
                        'class': 'flex w-full items-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 shadow-sm focus-visible:border-gray-300 focus-visible:outline-offset-2 border border-2 border-solid p-4 shadow-lg  justify-around bg-gray-100 hover:bg-gray-200',
                        'label': 'Se connecter',
                    } %}
                    {{ form_end(form) }}
                    <div class="flex justify-end mb-4">
                        {% include './components/a.html.twig' with {
                            'path': path('app_forgot_password_request'),
                            'class': 'text-sm ml-2 text-blue-600 hover:text-blue-500',
                            'label': 'Mot de passe oublié?',
                        } %}
                    </div>
                    {% include './components/text_connection.html.twig' with {
                        'title': 'Pas encore membre?',
                        'text': 'Créer un compte',
                        'link': path('app_register')
                    } %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
