{% extends 'base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block main %}
    <h1>Sélection des produits</h1>
    <div>
        <div>
            {{ form_start(categoryForm) }}
            {{ form_row(categoryForm.categories) }}
            <button type="submit" class="btn btn-primary select2">Valider</button>
            {{ form_end(categoryForm) }}
        </div>
        {% if productFromCategory %}
            {% for category in productFromCategory %}
                <div>
                    <h2>{{ category.name }}</h2>
                    <table style="width: 100%; border: 1px solid darkgrey; margin-bottom: 2rem">
                        <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Référence</th>
                            <th>Prix unitaire (HT)</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in category.products %}
                            <tr>
                                <td>{{ product.name }}</td>
                                <td>{{ product.reference }}</td>
                                <td>{{ product.price }} €</td>
                                <td>
                                    <a href="{{ path('app_user_quote_add_item', {'id_quote': quote.id, 'id_product': product.id}) }}"><i class="fas fa-plus"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}

        {% endif %}

        {% if productWithoutCategory %}
            <div>
                <h2>Produits sans catégorie</h2>
                <table style="width: 100%; border: 1px solid darkgrey; margin-bottom: 2rem">
                    <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Référence</th>
                        <th>Prix unitaire (HT)</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in productWithoutCategory %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td>{{ product.reference }}</td>
                            <td>{{ product.price }} €</td>
                            <td>
                                <a href="{{ path('app_user_quote_add_item', {'id_quote': quote.id, 'id_product': product.id}) }}"><i class="fas fa-plus"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}

    </div>
    <table style="width: 100%; border: 1px solid darkgrey; margin-bottom: 2rem">
        <thead>
        <tr>
            <th>Produit</th>
            <th>Référence</th>
            <th>Prix unitaire (HT)</th>
            <th>Taux de taxe</th>
            <th>Quantité</th>
            <th>Remise par unité</th>
            <th>Remise total</th>
            <th>Total (HT)</th>
            <th>Total (TTC)</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% if quoteItems %}
            {% for row in quoteItems %}
                {{ form_start(row.form) }}

                <tr>
                    <td>{{ row.item.product.name }}</td>
                    <td>{{ row.item.product.reference }}</td>
                    <td>{{ row.item.product.price }} €</td>
                    <td>{{ form_row(row.form.taxes) }}</td>
                    <td>
                        <a href="{{ path('app_user_quote_decrease_quantity_item', {'id_item': row.item.id}) }}"><i class="fas fa-minus"></i></a>
                        {{ form_row(row.form.quantity) }}
                        <a href="{{ path('app_user_quote_increase_quantity_item', {'id_item': row.item.id}) }}"><i class="fas fa-plus"></i></a>
                    </td>
                    <td>{{ form_row(row.form.discountAmountOnItem) }} €</td>
                    <td>{{ form_row(row.form.discountAmountOnTotal) }} €</td>
                    <td>{{ row.item.quantity * row.item.price }} €</td>
                    <td>{{ row.item.quantity * row.item.price * (1 + row.item.taxes / 100) }} €</td>
                    <td>
                        <a href="{{ path('app_user_quote_remove_item', {'id_quote': quote.id, 'id_item': row.item.id}) }}"><i class="fas fa-trash-alt"></i></a>
                        <button type="submit" class="btn btn-primary">Modifier</button>
                    </td>
                </tr>
                {{ form_end(row.form) }}
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="7">Aucun produit</td>
            </tr>
        {% endif %}
    </table>
    {% include './components/a.html.twig' with {
        'path': path('app_user_quote_step_one', {'id': quote.id}),
        'class': 'text-white font-bold py-2 px-4 rounded',
        'label': 'Étape précédente',
    } %}
    {% if quote.isValidStepTwo %}
        {% include './components/a.html.twig' with {
            'path': path('app_user_quote_step_three', {'id': quote.id}),
            'class': 'text-white font-bold py-2 px-4 rounded',
            'label': 'Étape suivante',
        } %}
    {% else %}
        {% for error in quote.IsNotValidStepTwoErrors %}
            <p>{{ error }}</p>
        {% endfor %}
    {% endif %}

{% endblock %}
