{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block main %}
    {% include './layout/search_border.html.twig' with {
        'form': form,
        'entity': 'Clients',
        'values': customers,
        'path': path('app_user_customer_add'),
        'class': 'bg-primary hover:bg-primary-hover text-white font-bold py-2 px-4 rounded float-right',
        'label': 'Ajouter un client',
        'right': 'ROLE_USER'
    } %}
    <div class="container mx-auto mt-4">
        <div class="flex justify-around flex-wrap gap-4">
            {% for customer in customers %}
                <div class="p-2">
                    <div class="bg-white shadow-lg rounded-lg dark:bg-gray-900">
                        <div class="p-4">
                            <div class="p-4 pt-0">
                                <h2 class="text-gray-800 pb-4 text-center text-lg font-semibold dark:text-white">{{ customer.firstName }} {{ customer.lastName }}
                                    : {{ customer.invoices|length }} factures</h2>
                                <div class="flex justify-around">
                                    <div class="mt-2 text-gray-600 dark:text-white">
                                        {% include './components/title.html.twig' with {
                                            'balise': 'h3',
                                            'title': 'Adresse de livraison',
                                            'class' : 'text-gray-800 text-lg font-semibold dark:text-white'
                                        } %}
                                        {% if customer.deliveryAddress %}
                                            {% include './components/a_table.html.twig' with {
                                                'path': path('app_user_address_deliveryAddress_edit', {'address_id': customer.deliveryAddress.id, 'customer_id': customer.id}),
                                                'fa': 'edit'
                                            } %}
                                            <p>{{ customer.deliveryAddress.street }}</p>
                                            <p>{{ customer.deliveryAddress.postalCode }} {{ customer.deliveryAddress.city }}</p>
                                            <p>{{ customer.deliveryAddress.country }}</p>
                                        {% else %}
                                            <p>Pas d'adresse de livraison</p>
                                            {% include './components/a_table.html.twig' with {
                                                'path': path('app_user_address_add', {'id': customer.id}),
                                                'fa': 'add'
                                            } %}
                                        {% endif %}
                                    </div>
                                    <div class="mt-2 text-gray-600 dark:text-white">
                                        {% include './components/title.html.twig' with {
                                            'balise': 'h3',
                                            'title': 'Adresse de facturation',
                                            'class' : 'text-gray-800 text-lg font-semibold dark:text-white'
                                        } %}
                                        {% if customer.billingAddress %}
                                            {% include './components/a_table.html.twig' with {
                                                'path': path('app_user_address_billingAddress_edit', {'address_id': customer.billingAddress.id, 'customer_id': customer.id}),
                                                'fa': 'edit'
                                            } %}
                                            <p>{{ customer.billingAddress.street }}</p>
                                            <p>{{ customer.billingAddress.postalCode }} {{ customer.billingAddress.city }}</p>
                                            <p>{{ customer.billingAddress.country }}</p>
                                        {% else %}
                                            <p>Pas d'adresse de facturation</p>
                                            {% include './components/a_table.html.twig' with {
                                                'path': path('app_user_address_add', {'id': customer.id}),
                                                'fa': 'add'
                                            } %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-between items-center gap-4 px-4 pb-4">
                                {% include './components/a.html.twig' with {
                                    'path': path('app_user_customer_edit', {'id': customer.id}),
                                    'class': 'bg-primary hover:bg-primary-hover',
                                    'label': 'Modifier',
                                    'fa': 'edit'
                                } %}
                                {% include './components/a.html.twig' with {
                                    'path': path('app_user_customer_interaction', {'id': customer.id}),
                                    'class': 'bg-secondary hover:bg-secondary-hover',
                                    'label': 'Intéraction',
                                    'fa': 'handshake'
                                } %}
                                {% include './components/a.html.twig' with {
                                    'path': path('app_user_customer_delete', {'id': customer.id, 'token': csrf_token('delete' ~ customer.id)}),
                                    'class': 'bg-tertiary hover:bg-tertiary-hover',
                                    'label': 'Supprimer',
                                    'fa': 'trash'
                                } %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if customers is not empty %}
            <div class="box-footer">
                <div class="navigation">
                    {{ knp_pagination_render(customers) }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
