{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block main %}
    {% include './layout/search_border.html.twig' with {
        'form': form,
        'entity': 'Catégorie',
        'values': pagination,
        'path': path('app_user_category_add'),
        'class': 'fancy-add bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded float-right',
        'label': 'Ajouter une catégorie'
    } %}
    <div class="mt-4">
        <table class="table table-bordered table-striped table-hover w-full">
            <thead>
            <tr>
                <th class="border {% if pagination.isSorted('c.name') %}sorted {% endif %}">
                    {{ knp_pagination_sortable(pagination, 'Nom', 'c.name') }}
                    {% if pagination.isSorted('c.name') %}
                        {% if app.request.get('direction') == 'asc' %}
                            <i class="fa-solid fa-arrow-up"></i>
                        {% elseif app.request.get('direction') == 'desc' %}
                            <i class="fa-solid fa-arrow-down"></i>
                        {% endif %}
                    {% endif %}
                </th>
                <th class="border">Nombre de produits</th>
                <th class="border"></th>
                <th class="border"></th>
            </tr>
            </thead>
            <tbody>
            {% for category in pagination %}
                <tr>
                    <td class="border">{{ category.name }}</td>
                    <td class="border">{{ category.products|length }}</td>
                    <td class="text-center border">
                        <a data-type="ajax" class="fancy-add"
                           href="{{ path('app_user_category_edit', {'id' : category.id }) }}">
                            <svg class="feather feather-edit h-4 w-4 mx-auto align-middle" viewBox="0 0 24 24"
                                 fill="none" stroke="blue" stroke-width="1.5" stroke-linecap="round"
                                 stroke-linejoin="round">
                                <path d="M19 1L23 5L5 23H1V19L19 1Z"></path>
                            </svg>
                        </a>
                    </td>
                    <td class="text-center border do-confirm">
                        {% include './components/a.html.twig' with {
                            'path': path('app_user_category_delete', {'id': category.id, 'token': csrf_token('delete' ~ category.id)}),
                            'class': 'text-white font-bold py-2 px-4 rounded',
                            'svg': 'http://www.w3.org/2000/svg',
                            'label': '',
                            'svg_path': 'M15 5a1 1 0 0 1 1 1v11a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a1 1 0 0 1 1-1h1V4a3 3 0 0 1 3-3h2a3 3 0 0 1 3 3v1h1zm-4 1h-2V4a1 1 0 0 0-1-1H8a1 1 0 0 0-1 1v2H5a1 1 0 0 0 0 2h1v9a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V8h1a1 1 0 0 0 0-2h-1V6a1 1 0 0 0-1-1z'
                        } %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center border">Aucune catégorie définie</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if pagination is not empty %}
            <div class="box-footer">
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
