{% extends 'base.html.twig' %}

{% block title %}Factures{% endblock %}

{% block main %}
    {% include './layout/search_border.html.twig' with {
        'form': form,
        'entity': 'Factures',
        'values': invoices,
        'path': path('app_user_invoice_add'),
        'class': 'fancy-add bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded float-right',
        'label': 'Ajouter une facture'
    } %}
    <div class="mt-4">
        <table class="table table-bordered table-striped table-hover w-full">
            <colgroup>
                <col/>
                <col/>
                <col/>
                <col/>
                <col/>
                <col/>
                <col/>
            </colgroup>
            <thead>
            <tr>
                <th class="border">
                    Montant remise
                </th>
                <th class="border">% réduction</th>
                <th class="border">Statut</th>
                <th class="border">Devis</th>
                <th class="border">Items</th>
                <th class="border">Rapports</th>
                <th class="border">PDF</th>
            </tr>
            </thead>
            <tbody>
            {% for invoice in invoices %}
                <tr>
                    <td class="border">{{ invoice.discountAmount ?? 0 }}%</td>
                    <td class="border">{{ invoice.discountPercent }}%</td>
                    <td class="border">{{ invoice.status.getStatusLabel() }}</td>
                    <td class="border text-center">
                        {% if invoice.quote %}
                            {% include './components/a.html.twig' with {
                                'path': path('app_user_quote_show', { 'id': invoice.quote.id }),
                                'fa': 'eye'
                            } %}
                        {% endif %}
                    </td>
                    <td class="border">
                        {% for item in invoice.items %}
                        {% endfor %}
                    </td>
                    <td class="border">
                        {% for deposit in invoice.deposits %}
                            {{ deposit.price }}
                        {% endfor %}
                    </td>
                    <td class="border">
                        {% include './components/a.html.twig' with {
                            'path': path('app_user_invoice_genere_pdf', { 'id': invoice.id }),
                            'fa': 'file'
                        } %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center border">Aucune facture</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if invoices is not empty %}
            <div class="box-footer">
                <div class="navigation">
                    {{ knp_pagination_render(invoices) }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
