{% extends 'base.html.twig' %}

{% block title %}Factures{% endblock %}

{% block main %}

    <h1>Facture {{ invoice.id }}</h1>

    <div class="flex justify-around">

        <div>
            <h3>Status</h3>
            <p>{{ invoice.status.name }}</p>
        </div>

        <div>
            <h3>Paiement : {{ invoice.payments|length }}</h3>
            <div>
                {% for payment in invoice.payments %}
                    <h4>{{ payment.date|date('d/m/Y') }} : {{ payment.amount }}€</h4>
                    <p>{{ payment.method.name }}</p>
                    <p>{{ payment.status.name }}</p>
                {% endfor %}
            </div>
        </div>

        {% if invoice.quote %}
            <div>
                <h3>Devis</h3>

            </div>
        {% endif %}

    </div>

    {% include './layout/preview.html.twig' with {
        'value': invoice,
        'title': 'Factures',
        'pre': 'FA'
    } %}

{% endblock %}
