{% extends 'base.html.twig' %}

{% block title %}Factures{% endblock %}

{% block main %}
    <div class="flex flex-col">
        <div class="md:w-1/3 mb-6 md:mb-0">
            <h1 class="text-3xl font-semibold mb-6">Sélection du client</h1>
            {{ form_start(form) }}
            <div class="mb-4">
                {{ form_row(form.customer, {'attr': {'class': 'w-full border border-gray-300 rounded p-2 focus:outline-none focus:border-blue-500'}}) }}
            </div>
            <button type="submit" class="btn btn-primary bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">
                <i class="fas fa-check mr-2"></i> Valider
            </button>
            {{ form_end(form) }}
        </div>

        {% if customer %}
            <h2 class="text-2xl text-center font-semibold mb-4">{{ customer.fullName }}</h2>
            <div class="flex md:items-center">
                <div class="flex flex-col items-center md:w-1/2 md:pl-8">
                    <h3 class="text-xl font-semibold mb-2">Adresse de livraison</h3>
                    {% if customer.deliveryAddress %}
                        <a href="{{ path('app_user_address_deliveryAddress_edit', {'address_id': customer.deliveryAddress.id, 'customer_id': customer.id, 'invoice_id': invoice.id}) }}" class="fas fa-edit text-blue-600 hover:text-blue-800"></a>
                        <p class="mb-2">{{ customer.deliveryAddress.street }}</p>
                        <p class="mb-2">{{ customer.deliveryAddress.postalCode }} {{ customer.deliveryAddress.city }}</p>
                        <p>{{ customer.deliveryAddress.country }}</p>
                    {% else %}
                        <p>Pas d'adresse de livraison</p>
                        <a href="{{ path('app_user_address_add', {'id': customer.id, 'invoice_id': invoice.id}) }}" class="fas fa-plus text-blue-600 hover:text-blue-800"></a>
                    {% endif %}
                </div>

                <div class="flex flex-col md:w-1/2 items-center md:pl-8">
                    <h3 class="text-xl font-semibold mb-2">Adresse de facturation</h3>
                    {% if customer.billingAddress %}
                        <a href="{{ path('app_user_address_billingAddress_edit', {'address_id': customer.deliveryAddress.id, 'customer_id': customer.id, 'invoice_id': invoice.id}) }}" class="fas fa-edit text-blue-600 hover:text-blue-800"></a>
                        <p class="mb-2">{{ customer.billingAddress.street }}</p>
                        <p class="mb-2">{{ customer.billingAddress.postalCode }} {{ customer.billingAddress.city }}</p>
                        <p>{{ customer.billingAddress.country }}</p>
                    {% else %}
                        <p>Pas d'adresse de facturation</p>
                        <a href="{{ path('app_user_address_add', {'id': customer.id, 'invoice_id': invoice.id}) }}" class="fas fa-plus text-blue-600 hover:text-blue-800"></a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>

    {% if invoice.isValidStepOne %}
        {% include './components/a.html.twig' with {
            'path': path('app_user_invoice_step_two', {'id': invoice.id}),
            'class': 'text-white font-bold py-2 px-4 rounded',
            'label': 'Étape suivante',
            'fa': 'arrow-right'
        } %}
    {% else %}
        {% for error in invoice.IsNotValidStepOneErrors %}
            <p class="text-red-600">{{ error }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}
