{% extends 'base.html.twig' %}

{% block title %}Design Guide{% endblock %}

{% block main %}
    <div class="flex flex-col items-center">
        {% include './components/title.html.twig' with {
            'balise': 'h1',
            'title': 'Guide de design avec Tailwind CSS',
            'class' : 'text-3xl font-bold mb-4 dark:text-white'
        } %}

        {% include './components/hr.html.twig' with {
            'class': 'w-full h-1 my-8 bg-gray-200 border-0 rounded dark:bg-gray-700">'
        } %}

        <div class="text-center ml-4">
            {% include './components/title.html.twig' with {
                'balise': 'h2',
                'title': 'Couleur des thèmes du site CSS',
                'class' : 'text-2xl font-bold mb-2 dark:text-white'
            } %}
        </div>
        <br>
        <div class="grid grid-cols-2 gap-4">
            <!-- Thème Clair (Light) -->
            <div class="bg-white text-black p-4 rounded-lg shadow-md">
                {% include './components/title.html.twig' with {
                    'balise': 'h2',
                    'title': 'Thème Clair (Light)',
                    'class' : 'text-xl font-bold mb-2'
                } %}
            </div>

            <!-- Thème Sombre (Dark) -->
            <div class="bg-gray-800 text-white p-4 rounded-lg shadow-md">
                {% include './components/title.html.twig' with {
                    'balise': 'h2',
                    'title': 'Thème Sombre (Dark)',
                    'class' : 'text-xl font-bold mb-2'
                } %}
            </div>
        </div>

        {% include './components/hr.html.twig' with {
            'class': 'w-full h-1 my-8 bg-gray-200 border-0 rounded dark:bg-gray-700">'
        } %}

        <div class="text-center ml-4">
            <h2 class="text-2xl font-bold mb-2 dark:text-white">Couleur primaire du site</h2>
        </div>
        <br>
        <div class="grid grid-cols-3 gap-4">
            <!-- Couleur primaire -->
            <div class="bg-primary hover:bg-primary-hover text-white p-4 rounded-lg shadow-md">
                <h2 class="text-xl font-bold mb-2">Couleur Primaire</h2>
                <xmp class="text-sm">
                    {% verbatim %}
primary: {
    DEFAULT: '#3182CE',
    hover: '#2C5282',
},
                    {% endverbatim %}
                </xmp>
            </div>

            <!-- Couleur secondaire -->
            <div class="bg-secondary hover:bg-secondary-hover text-white p-4 rounded-lg shadow-md">
                <h2 class="text-xl font-bold mb-2">Couleur Secondaire</h2>
                <xmp class="text-sm">
                    {% verbatim %}
secondary: {
    DEFAULT: '#00A76F',
    hover: '#276749',
},
                    {% endverbatim %}
                </xmp>
            </div>

            <!-- Couleur tertiaire -->
            <div class="bg-tertiary hover:bg-tertiary-hover text-white p-4 rounded-lg shadow-md">
                <h2 class="text-xl font-bold mb-2">Couleur Tertiaire</h2>
                <xmp class="text-sm">
                    {% verbatim %}
tertiary: {
    DEFAULT: '#E53E3E',
    hover: '#C53030',
},
                    {% endverbatim %}
                </xmp>
            </div>
        </div>

        {% include './components/hr.html.twig' with {
            'class': 'w-full h-1 my-8 bg-gray-200 border-0 rounded dark:bg-gray-700">'
        } %}

        <div class="text-center ml-4">
            <h2 class="text-2xl font-bold mb-2 dark:text-white">Exemple de composant a</h2>
            <div class="mb-4 p-4 rounded-lg">
                {% include './components/a.html.twig' with {
                    'path': '#',
                    'class': 'bg-primary hover:bg-primary-hover',
                    'label': 'Modifier',
                    'fa': 'edit'
                } %}
            </div>
        </div>
        <div class="bg-black text-white p-4 rounded-lg shadow-md">
            <xmp class="text-sm">
                {% verbatim %}
                   <a href="{{ path }}"
                       class="text-white font-bold py-2 px-4 rounded {% if class is defined %}{{ class }}{% endif %} ">
                        {% if label is defined %}
                            {{ label }}
                        {% endif %}
                        {% if fa is defined %}
                            &nbsp; <i class="fas fa-{{ fa }}"></i>
                        {% endif %}
                    </a>
                {% endverbatim %}
            </xmp>
        </div>

        {% include './components/hr.html.twig' with {
            'class': 'w-full h-1 my-8 bg-gray-200 border-0 rounded dark:bg-gray-700">'
        } %}

        <div class="text-center ml-4">
            <h2 class="text-2xl font-bold mb-2 dark:text-white">Exemple de composant a_login</h2>
            <div class="mb-4 p-4 rounded-lg">
                {% include './components/a_login.html.twig' with {
                    'path': path('app_forgot_password_request'),
                    'class': 'text-sm ml-2 text-primary-hover hover:text-primary',
                    'label': 'Mot de passe oublié?',
                } %}
            </div>
        </div>
        <div class="bg-black text-white p-4 rounded-lg shadow-md">
            <xmp class="text-sm">
                {% verbatim %}
                      <a href="{{ path }}"
                       class="font-bold {% if class is defined %}{{ class }}{% endif %} ">
                            {{ label }}
                        {% if fa is defined %}
                            &nbsp; <i class="fas fa-{{ fa }}"></i>
                        {% endif %}
                    </a>
                {% endverbatim %}
            </xmp>
        </div>

        {% include './components/hr.html.twig' with {
            'class': 'w-full h-1 my-8 bg-gray-200 border-0 rounded dark:bg-gray-700">'
        } %}

        <div class="flex justify-between mb-8">
            <div class="ml-4">
                <h2 class="text-2xl font-bold mb-2 dark:text-white">Exemple de component a_menu</h2>
                <br>
                {% include './components/a_menu.html.twig' with {
                    'name': 'Utilisateur',
                    'path': '/companymembership',
                    'fa': 'user'
                } %}
            </div>
        </div>
        <div class="bg-black text-white p-4 rounded-lg shadow-md">
            <xmp class="text-sm">
                {% verbatim %}
                <li class="rounded hover:bg-primaryLighter hover:text-primary hover:stroke-primary stroke-grey p-2">
                    <a href="{{ path }}" class="flex nowrap gap-x-4 uppercase">
                        {% if fa is defined %}
                            &nbsp; <i class="fas fa-{{ fa }}"></i>
                        {% endif %}
                        {{ name }}
                    </a>
                </li>
                    {% endverbatim %}
            </xmp>
        </div>

        {% include './components/hr.html.twig' with {
            'class': 'w-full h-1 my-8 bg-gray-200 border-0 rounded dark:bg-gray-700">'
        } %}

        <div class="flex justify-between mb-8">
            <div class="ml-4">
                <h2 class="text-2xl font-bold mb-2 dark:text-white">Exemple de component a_table</h2>
                <br>
                {% include './components/a_table.html.twig' with {
                    'path': '#',
                    'fa': 'edit'
                } %}
            </div>
        </div>
        <div class="bg-black text-white p-4 rounded-lg shadow-md">
            <xmp class="text-sm">
                {% verbatim %}
                    <a href="{{ path }}">
                        {% if label is defined %}
                            {{ label }}
                        {% endif %}
                        {% if fa is defined %}
                            &nbsp; <i class="fas fa-{{ fa }}"></i>
                        {% endif %}
                    </a>
                    {% endverbatim %}
            </xmp>
        </div>

        {% include'./components/hr.html.twig' with {
            'class': 'w-full h-1 my-8 bg-gray-200 border-0 rounded dark:bg-gray-700">'
        } %}

        <div class="flex justify-between mb-8">
            <div class="ml-4">
                <h2 class="text-2xl font-bold mb-2 dark:text-white">Exemple de component a_top_menu</h2>
                <br>
                {% include './components/a_top_menu.html.twig' with {
                    'path': path('app_logout'),
                    'fa': 'right-from-bracket'
                } %}
            </div>
        </div>
        <div class="bg-black text-white p-4 rounded-lg shadow-md">
            <xmp class="text-sm">
                {% verbatim %}
                <button id="{{ id }}"
                        class="rounded-xl p-0.5 hover:bg-primaryLighter bg-primaryLighter fill-grey
                        dark:hover:bg-primary dark:bg-transparent dark:fill-white transition-colors duration-500">
                    {% if fa is defined %}
                        <i class="fas fa-{{ 'fa' }}"></i>
                    {% endif %}
                </button>
                {% endverbatim %}
            </xmp>
        </div>

        {% include './components/hr.html.twig' with {
            'class': 'w-full h-1 my-8 bg-gray-200 border-0 rounded dark:bg-gray-700">'
        } %}

        <div class="flex justify-between mb-8">
            <div class="ml-4">
                <h2 class="text-2xl font-bold mb-2 dark:text-white">Exemple de component bouton</h2>
                <br>
                <div class="mb-4">
                    {% include './components/button.html.twig' with {
                        'class': 'flex w-full items-center rounded-md px-3 py-1.5 transition text-md ring-2 bg-opacity-80
                        ring-secondary font-semibold leading-6 shadow-lg justify-around bg-gray-100 hover:bg-gray-200',
                        'label': 'Se connecter',
                    } %}
                </div>
            </div>
        </div>
        <div class="bg-black text-white p-4 rounded-lg shadow-md">
            <xmp class="text-sm">
                {% verbatim %}
                   <button type="submit" class="{{ class }}">
                    {{ label }}
                    {% if fa is defined %}
                        &nbsp; <i class="fas fa-{{ fa }}"></i>
                    {% endif %}
                </button>
                {% endverbatim %}
            </xmp>
        </div>

        {% include './components/hr.html.twig' with {
            'class': 'w-full h-1 my-8 bg-gray-200 border-0 rounded dark:bg-gray-700">'
        } %}

        <div class="flex justify-between mb-8">
            <div class="ml-4">
                <h2 class="text-2xl font-bold mb-2 dark:text-white">Exemple de component button_top_menu</h2>
                <br>
                {% include './components/button_top_menu.html.twig' with {
                    'id': 'lightMode',
                    'fa': 'sun'
                } %}
            </div>
        </div>
        <div class="bg-black text-white p-4 rounded-lg shadow-md">
            <xmp class="text-sm">
                {% verbatim %}
             <button id="{{ id }}"
                    class="rounded-xl p-1 hover:bg-primaryLighter dark:hover:bg-white transition-colors duration-500">
                {% if fa is defined %}
                    <i class="fas fa-{{ fa }}"></i>
                {% endif %}
            </button>

                {% endverbatim %}
            </xmp>
        </div>

        {% include './components/hr.html.twig' with {
            'class': 'w-full h-1 my-8 bg-gray-200 border-0 rounded dark:bg-gray-700">'
        } %}

        <div class="flex justify-between mb-8">
            <div class="ml-4">
                <h2 class="text-2xl font-bold mb-2 dark:text-white">Exemple de component error</h2>
                <br>
                {% include './components/error.html.twig' %}
            </div>
        </div>
        <div class="bg-black text-white p-4 rounded-lg shadow-md">
            <xmp class="text-sm">
                {% verbatim %}
              {% for type, flashMessages in app.flashes %}
                 <div class="flex items-center p-4 mb-4 text-md border rounded-lg" role="alert">
                <i class="fas fa-exclamation-circle dark:text-white"></i> &nbsp;
                {% for message in flashMessages %}
                <div>
                    <span class="font-medium dark:text-white">{{ type }} alert</span> {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            <button id="{{ id }}"
                    class="rounded-xl p-1 hover:bg-primaryLighter dark:hover:bg-white transition-colors duration-500">
                {% if fa is defined %}
                    <i class="fas fa-{{ fa }}"></i>
                {% endif %}
            </button>
                {% endverbatim %}
            </xmp>
        </div>

        {% include './components/hr.html.twig' with {
            'class': 'w-full h-1 my-8 bg-gray-200 border-0 rounded dark:bg-gray-700">'
        } %}

        <div class="flex justify-between mb-8">
            <div class="ml-4">
                <h2 class="text-2xl font-bold mb-2 dark:text-white">Exemple de component back</h2>
                <br>
                {% include './components/back.html.twig' with {
                    'content': 'Retour',
                    'fa': 'arrow-left'
                } %}
            </div>
        </div>
        <div class="bg-black text-white p-4 rounded-lg shadow-md">
            <xmp class="text-sm">
                {% verbatim %}
                <button type="button" class="close text-gray-500 hover:text-gray-700" aria-label="Close"
                        onclick="window.history.back()">
                    {% if content is not defined %}
                        <span aria-hidden="true" class="text-2xl">&times;</span>
                    {% else %}
                        {% if fa is defined %}
                            &nbsp; <i class="fas fa-{{ 'fa' }}"></i>
                        {% endif %}
                        {{ content }}
                    {% endif %}
                </button>
                {% endverbatim %}
            </xmp>
        </div>

        {% include './components/hr.html.twig' with {
            'class': 'w-full h-1 my-8 bg-gray-200 border-0 rounded dark:bg-gray-700">'
        } %}

        <div class="flex justify-between mb-8">
            <div class="ml-4">
                <h2 class="text-2xl font-bold mb-2 dark:text-white">Exemple de titre</h2>
                <br>
                <div class="mb-4">
                    {% include './components/title.html.twig' with {
                        'balise': 'h2',
                        'title': 'Connectez-vous',
                    } %}
                </div>
            </div>
        </div>
        <div class="bg-black text-white p-4 rounded-lg shadow-md">
            <xmp class="text-sm">
                {% verbatim %}
              <{{ balise }} class="{% if class is defined %}{{ class }} {% endif %}">
                {{ title }}</{{ balise }}>
            {% endverbatim %}
            </xmp>
        </div>
    </div>

    {% include './components/hr.html.twig' with {
        'class': 'w-full h-1 my-8 bg-gray-200 border-0 rounded dark:bg-gray-700">'
    } %}

    <div class="flex justify-center mb-8">
        <div class="ml-4">
            <h2 class="text-2xl font-bold mb-2 dark:text-white">Exemple de component input_connection</h2>
            <br>
            <form class="connection">
                <label class="block text-gray-800 required" for="_username">Identifiant</label>
                <input type="email" id="_username" name="_username" required="required" class="form-input"
                       data-dashlane-rid="b73028a3843fc260" data-form-type="username" data-kwimpalastatus="alive"
                       data-kwimpalaid="1709468192904-0">
            </form>
        </div>
    </div>
    <div class="bg-black text-white p-4 rounded-lg shadow-md">
        <xmp class="text-sm">
            {% verbatim %}
              @layer components {
                   form.connection input {
                    @apply form-input ring-2 ring-secondary bg-opacity-80 bg-gray-100 focus:bg-gray-200;
                  }

                  form.connection label {
                    @apply text-white;
                  }
                }
                {% endverbatim %}
        </xmp>
    </div>

    {% include './components/hr.html.twig' with {
        'class': 'w-full h-1 my-8 bg-gray-200 border-0 rounded dark:bg-gray-700">'
    } %}

    <div class="flex justify-center mb-8">
        <div class="ml-4">
            <h2 class="text-2xl font-bold mb-2 dark:text-white">Exemple de component input_search</h2>
            <br>
            <div class="search">
                <form>
                    <div class="mb-6">
                        <label class="block text-gray-800" for="category_search_alias">Nom</label>
                        <input type="text" id="category_search_alias" name="category_search[alias]" class="mt-1 w-full"
                               data-dashlane-rid="ff74b59df0a6971d" data-form-type="">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="bg-black text-white p-4 rounded-lg shadow-md">
        <xmp class="text-sm">
            {% verbatim %}
              @layer components {
                 .search input {
                    @apply rounded border-2 border-primary py-2 px-4;

                    &:focus {
                      @apply border-2;
                    }
                  }
                }
                {% endverbatim %}
        </xmp>
    </div>

    {% include './components/hr.html.twig' with {
        'class': 'w-full h-1 my-8 bg-gray-200 border-0 rounded dark:bg-gray-700">'
    } %}

    <div class="flex justify-center mb-8">
        <div class="ml-4">
            <h2 class="text-2xl font-bold mb-2 dark:text-white">Exemple de component input_action</h2>
            <br>
            <form class="action">
                <div class="mb-6"><label class="block text-gray-800 required"
                                         for="product_form_reference">Référence</label>
                    <input type="text" id="product_form_reference" name="product_form[reference]" required="required"
                           class="mt-1 w-full" data-dashlane-rid="9007c1c0361970d6" data-form-type="other">
                </div>
            </form>
        </div>
    </div>
    <div class="bg-black text-white p-4 rounded-lg shadow-md">
        <xmp class="text-sm">
            {% verbatim %}
              @layer components {
               form.action input:not([type=file]),
                  form.action select {
                    @apply w-full rounded border-2 shadow-md border-white py-2 px-4 mb-2;

                    &:focus {
                      @apply border-2;
                    }
                  }
                }
                {% endverbatim %}
        </xmp>
    </div>
{% endblock %}
