{% extends 'base.html.twig' %}

{% block title %}Design Guide{% endblock %}

{% block main %}
    <div class="flex flex-col items-center">
        <h1 class="text-3xl font-bold mb-4">Guide de design avec Tailwind CSS</h1>
        <div class="flex justify-between mb-8">
            <div class="w-1/2 mr-4">
                <h2 class="text-2xl font-bold mb-2">Exemple de composant A</h2>
                <div class="mb-4 bg-white p-4 rounded-lg shadow-md">
                    <p>Composant A avec un lien de déconnexion :</p>
                    {% include './components/a.html.twig' with {
                        'path': '#',
                        'class': 'text-red-600 hover:text-red-500',
                        'label': 'Déconnexion',
                    } %}
                </div>
            </div>

            <div class="w-1/2 ml-4">
                <h2 class="text-2xl font-bold mb-2">Exemple de composant B</h2>
                <div class="mb-4 bg-white p-4 rounded-lg shadow-md">
                    <p>Composant B avec un lien vers une autre page :</p>
                    {% include './components/a.html.twig' with {
                        'path': '#',
                        'class': 'text-blue-600 hover:text-blue-500',
                        'label': 'Aller à une autre page',
                    } %}
                </div>
            </div>
        </div>

        <div class="bg-black text-white p-4 rounded-lg shadow-md">
            <xmp class="text-sm">
                <a href="{{ 'path' }}"
                   class=" {% if 'class' is defined %}{{ 'class' }}{% endif %} {% if 'bg_color' is defined %} bg-{{ 'bg_color' }}-200 bg-{{ 'bg_color' }} hover:bg-{{ 'bg_color' }}-400 {% endif %}{% if 'fa' is defined %}flex items-center justify-between{% endif %}">
                    {{ 'label' }}
                    {% if 'fa' is defined %}
                        &nbsp; <i class="fas fa-{{ 'fa' }}"></i>
                    {% endif %}
                </a>

            </xmp>
        </div>
        {% include './components/hr.html.twig' with {
            'class': 'w-full h-1 my-8 bg-gray-200 border-0 rounded dark:bg-gray-700">'
        } %}
        <div class="flex justify-between mb-8">
            <div class="ml-4">
                <h2 class="text-2xl font-bold mb-2">Exemple de bouton de connexion</h2>
                <div class="mb-4">
                    {% include './components/button.html.twig' with {
                        'class': 'flex w-full items-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 shadow-sm focus-visible:border-gray-300 focus-visible:outline-offset-2 border border-2 border-solid p-4 shadow-lg justify-around bg-gray-100 hover:bg-gray-200',
                        'label': 'Se connecter',
                    } %}
                </div>
            </div>
        </div>
        <div class="bg-black text-white p-4 rounded-lg shadow-md">
            <xmp class="text-sm">
                <button class="{{ 'class' }}">
                    {{ 'label' }}
                </button>
            </xmp>
        </div>
        {% include './components/hr.html.twig' with {
            'class': 'w-full h-1 my-8 bg-gray-200 border-0 rounded dark:bg-gray-700">'
        } %}        <div class="flex justify-between mb-8">
            <div class="ml-4">
                <h2 class="text-2xl font-bold mb-2">Exemple de titre</h2>
                <div class="mb-4">
                    {% include './components/title.html.twig' with {
                        'balise': 'h2',
                        'title': 'Connectez-vous',
                    } %}
                </div>
            </div>
        </div>

        <div class="bg-black text-white p-4 rounded-lg shadow-md">
            <xmp class="text-sm">
                <{{ 'balise' }} class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-100">
                {{ 'title' }}</{{ 'balise' }}>
            </xmp>
        </div>
    </div>
{% endblock %}
