{# components/a.html.twig #}
<a href="#"
   class="flex w-full justify-center rounded-md bg-{{ bg_color }}-200 bg-{{ bg_color }} text-{{ text_color }} px-3 py-1.5 text-sm font-semibold leading-6 shadow-sm focus:outline-none hover:bg-{{ bg_color }}-400 focus-visible:ring focus-visible:ring-gray-300 focus-visible:border-gray-300 focus-visible:outline-offset-2 {% if autre is defined %}{{ autre }} {% endif %}">
    {{ label }}
</a>
