{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dashboardChart') }}
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block main %}

    {% if statistics %}
        <script>
            const invoiceChartData = {
                labels: [
                    {% for key, status in statistics.invoicesByStatus.invoices %}
                    '{{ key }}',
                    {% endfor %}
                ],
                datasets: [{
                    label: 'Montant des factures',
                    data: [
                        {% for status in statistics.invoicesByStatus.amount %}
                        '{{ status }}',
                        {% endfor %}
                    ],
                }],
            };

            const quoteChartData = {
                labels: [
                    {% for key, status in statistics.quotesByStatus.quotes %}
                    '{{ key }}',
                    {% endfor %}
                ],
                datasets: [{
                    label: 'Montant des devis',
                    data: [
                        {% for status in statistics.quotesByStatus.amount %}
                        '{{ status }}',
                        {% endfor %}
                    ],
                }],
            };

        </script>
    {% endif %}

    <div class="container mx-auto px-4 py-8">
        <h2 class="text-2xl font-bold mb-4">Heureux de vous revoir !</h2>

        <!-- Formulaire de sélection de la plage de dates -->
        {{ form_start(dateRangeForm) }}
        <div class="flex flex-wrap items-center mb-4">
            {{ form_row(dateRangeForm.submitDay) }}
            {{ form_row(dateRangeForm.submitMonth) }}
            {{ form_row(dateRangeForm.submitYear) }}
            {{ form_row(dateRangeForm.submitDayBefore) }}
            {{ form_row(dateRangeForm.submitMonthBefore) }}
            {{ form_row(dateRangeForm.submitYearBefore) }}
            {{ form_row(dateRangeForm.startDate) }}
            {{ form_row(dateRangeForm.endDate) }}
            {{ form_row(dateRangeForm.submitDateRange) }}
        </div>
        {{ form_end(dateRangeForm) }}

        <!-- Statistiques sur les factures et les devis -->
        {% if statistics %}
            <div class="flex -mx-4">
                <div class="flex w-1/2 flex-col">
                    <div class="w-full lg:w-1/2 px-4 mb-4">
                        <div class="bg-gray-100 p-4 rounded">
                            <h3 class="text-lg font-semibold mb-2">Nombre de factures
                                : {{ statistics.invoices|length }}</h3>
                            {% for key, status in statistics.invoicesByStatus.invoices %}
                                <div class="flex items-center justify-between mb-2">
                                    <div>{{ key }}</div>
                                    <div>{{ status|length }} {{ status|length > 1 ? 'factures' : 'facture' }}</div>
                                    <div>{{ statistics.invoicesByStatus.amount[key] }} €</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="w-full lg:w-1/2 px-4 mb-4">
                        <canvas id="invoiceChart"></canvas>
                    </div>
                </div>
                <div class="flex w-1/2 flex-col">
                    <div class="w-full lg:w-1/2 px-4 mb-4">
                        <div class="bg-gray-100 p-4 rounded">
                            <h3 class="text-lg font-semibold mb-2">Nombre de devis : {{ statistics.quotes|length }}</h3>
                            {% for key, status in statistics.quotesByStatus.quotes %}
                                <div class="flex items-center justify-between mb-2">
                                    <div>{{ key }}</div>
                                    <div>{{ status|length }} devis</div>
                                    <div>{{ statistics.quotesByStatus.amount[key] }} €</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="w-full lg:w-1/2 px-4 mb-4">
                        <canvas id="quoteChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="w-full mb-4">
                <div class="bg-gray-100 p-4 rounded">Meilleur vente</div>
                <div class="bg-gray-100 p-4 rounded mt-4">Meilleur client</div>
            </div>
        {% endif %}
    </div>

{% endblock %}
