{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block main %}
<div class="flex gap-6 flex-col justify-around md:flex-row">
    <div class="w-full max-w-md bg-white rounded-lg shadow-md p-4 dark:bg-gray-900 dark:text-white">
        {% include './components/title.html.twig' with {
            'balise': 'h2',
            'title': 'Modifier votre profil',
            'class' : 'text-2xl font-semibold mb-4 text-center'
        } %}
        {{ form_start(profileForm) }}
        {{ form_widget(profileForm) }}
        {% include './components/button.html.twig' with {
            'class': 'bg-primary hover:bg-primary-hover text-center text-white font-bold py-2 px-4 rounded w-full',
            'label': 'Enregistrer les modifications',
        } %}
        {{ form_end(profileForm) }}
    </div>
    <div class="w-full max-w-md bg-white rounded-lg shadow-md p-4 dark:bg-gray-900 dark:text-white">
        {% include './components/title.html.twig' with {
            'balise': 'h2',
            'title': 'Modifier votre mot de passe',
            'class' : 'text-2xl font-semibold mb-4 text-center'
        } %}
        {{ form_start(passwordForm) }}
        {{ form_widget(passwordForm) }}
        {% include './components/button.html.twig' with {
            'class': 'bg-primary hover:bg-primary-hover text-center text-white font-bold py-2 px-4 rounded w-full',
            'label': 'Enregistrer les modifications',
        } %}
        {{ form_end(passwordForm) }}
    </div>
    <div class="w-full max-w-md bg-white rounded-lg shadow-md p-4 dark:bg-gray-900 dark:text-white">
        {% include './components/title.html.twig' with {
            'balise': 'h2',
            'title': 'Vos entreprises',
            'class' : 'text-2xl font-semibold mb-4 text-center'
        } %}
        {% for companyMemberShip in companyMemberships %}
            <div class="flex justify-between items-center border-b border-gray-300 py-2"> {# Réduction de l'espace entre les éléments de la liste #}
                <div>
                    <p class="font-semibold">{{ companyMemberShip.company.name }}</p>
                    <p>{{ companyMemberShip.status.name }}</p>
                </div>
                <div class="flex gap-6"> {# Réduction de l'espace entre les icônes #}
                    {% if is_granted('referent', companyMemberShip) and companySession.getCurrentCompanyTwig %}
                        {% include './components/a_table.html.twig' with {
                            'path': path('app_user_company_show', { 'id': companySession.getCurrentCompanyTwig.id }),
                            'fa': 'eye',
                        } %}
                    {% endif %}
                    {% include './components/a_table.html.twig' with {
                        'path': path('app_user_company_membership_delete', {'id': companyMemberShip.id, 'token': csrf_token('delete-user-company-membership' ~ companyMemberShip.id)}),
                        'label': 'Quitter',
                        'fa': 'trash',
                    } %}
                </div>
            </div>
        {% endfor %}
        <br>
        {% include './components/a.html.twig' with {
        'path': path('app_user_company_add'),
        'class': 'bg-secondary hover:bg-secondary-hover text-center mt-2 w-full',
        'label': 'Créer mon entreprise',
        } %}
    </div>
</div>

    {% include './components/hr.html.twig' with {
        'class': 'w-full h-1 my-8 bg-gray-200 border-0 rounded dark:bg-gray-700">'
    } %}

    <div class="max-w-md w-3/6 mx-auto w-full bg-white rounded-lg shadow-md p-6 dark:bg-gray-900">
        {{ form_start(mailForm) }}

        <div class="overflow-y-auto max-h-full">
            {{ form_row(mailForm.invoiceMailContent, {'attr': {'class': 'w-full mb-4 h-full'}}) }}
            {{ form_row(mailForm.quoteMailContent, {'attr': {'class': 'w-full mb-4 h-full'}}) }}
            {{ form_row(mailForm.mailSignature, {'attr': {'class': 'w-full mb-4 h-full'}}) }}
        </div>
        {% include './components/button.html.twig' with {
            'class': 'bg-primary hover:bg-primary-hover text-center text-white font-bold py-2 px-4 rounded mt-4 w-full',
            'label': 'Enregistrer les modifications',
        } %}
        {{ form_end(mailForm) }}

    </div>

{% endblock %}
