{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block main %}
    {% if is_granted('company_referent') %}
        {% include './layout/search_border.html.twig' with {
            'form': form,
            'entity': 'Utilisateurs',
            'values': users,
            'path': path('app_admin_user_add'),
            'class': 'fancy-add bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded float-right',
            'label': 'Ajouter un utilisateur'
        } %}
    {% endif %}

    <div class="mt-4">
        <table class="table table-bordered table-striped table-hover w-full">
            <thead>
            <tr>
                <th class="border">{{ knp_pagination_sortable(users, 'Nom', 'u.name') }}</th>
                <th class="border">Prénom</th>
                <th class="border">Email</th>
                <th class="border">{{ knp_pagination_sortable(users, 'Status', 'cm.status') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td class="border">{{ user.relatedUser.lastName }}</td>
                    <td class="border">{{ user.relatedUser.firstName }}</td>
                    <td class="border">{{ user.relatedUser.email }}</td>
                    <td class="border">{{ user.status.name }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="text-center border">Aucun utilisateur trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if users is not empty %}
            <div class="box-footer">
                <div class="navigation">
                    {{ knp_pagination_render(users) }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
