{% set pre = (name.title is defined ? name.title is same as "Devis" : title is same as "Devis") ? 'DE' : 'FA' %}

<div class="w-4/5 mx-auto p-4 rounded-lg bg-white dark:text-white dark:bg-gray-900 mb-8">
    <table class="w-full mb-4">
        <tbody>
        <tr>
            <td>
                <h2>{{ value.company.name }}</h2>
                <p>{{ value.company.address.street }}</p>
                <p>{{ value.company.address.postalCode }} {{ value.company.address.city }}
                    - {{ value.company.address.country }}</p>
                <p>{{ value.company.siret }}</p>
            </td>
            <td class="text-right">
                <h1>{{ name.title is defined ? name.title : title }}</h1>
                <h3>{{ value.date| date('d/m/Y') }}</h3>
                <h3>#{{ pre }}{{ value.id }}</h3>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="mx-auto mb-4">
        <tbody>
        <tr>
            <td class="px-10">
                <h2>Adresse de livraison</h2>
                {% if value.customer and value.customer.status.name == 'VALIDATED' %}
                    <p>{{ value.customer.fullName }}</p>
                    <p>{{ value.customer.deliveryAddress.street }}</p>
                    <p>{{ value.customer.deliveryAddress.postalCode }} {{ value.customer.deliveryAddress.city }}</p>
                    <p>{{ value.customer.deliveryAddress.country }}</p>
                {% elseif value.customer and value.customer.status.name == 'DELETED' %}
                    <p>DELETED</p>
                    <p>DELETED</p>
                    <p>DELETED</p>
                    <p>DELETED</p>
                {% else %}
                    <p>Pas de client associé</p>
                    <p>-----------------</p>
                    <p>-----------------</p>
                    <p>-----------------</p>
                {% endif %}
            </td>
            <td class="px-10">
                <h2>Adresse de facturation</h2>
                {% if value.customer and value.customer.status.name == 'VALIDATED' %}
                    <p>{{ value.customer.fullName }}</p>
                    <p>{{ value.customer.billingAddress.street }}</p>
                    <p>{{ value.customer.billingAddress.postalCode }} {{ value.customer.billingAddress.city }}</p>
                    <p>{{ value.customer.billingAddress.country }}</p>
                {% elseif value.customer and value.customer.status.name == 'DELETED' %}
                    <p>DELETED</p>
                    <p>DELETED</p>
                    <p>DELETED</p>
                    <p>DELETED</p>
                {% else %}
                    <p>Pas de client associé</p>
                    <p>-----------------</p>
                    <p>-----------------</p>
                    <p>-----------------</p>
                {% endif %}
            </td>
            {% if value.expirationDate is defined %}
                <td class="align-baseline">
                    <h2>Date de validité</h2>
                    <p>{{ value.expirationDate ? value.expirationDate| date('d/m/Y') }}</p>
                </td>
            {% endif %}
            {% if value.dueDate is defined %}
                <td class="align-baseline">
                    <h2>Date d'échéance</h2>
                    <p>{{ value.dueDate ? value.dueDate| date('d/m/Y') }}</p>
                </td>
            {% endif %}
        </tr>
        </tbody>
    </table>
    <table class="w-full border mb-4">
        <thead>
        <tr>
            <th class="p-2">Référence</th>
            <th class="p-2">Produit</th>
            <th class="p-2">Taux de taxe</th>
            <th class="p-2">Prix unitaire (HT)</th>
            <th class="p-2">Quantité</th>
            <th class="p-2">Remise par unité (HT) €</th>
            <th class="p-2">Remise total (HT) €</th>
            <th class="p-2">Total (HT)</th>
            <th class="p-2">Total (TTC)</th>
        </tr>
        </thead>
        <tbody>
        {% for item in value.items %}
            <tr class="text-center dark:text-white border border-gray-300">
                <td>{{ item.product.reference }}</td>
                <td>{{ item.product.name }}</td>
                <td>{{ item.taxes ? item.taxes : 0 }} %</td>
                <td>{{ item.product.price }} €</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.discountAmountOnItem }}</td>
                <td>{{ item.discountAmountOnTotal }}</td>
                <td>{{ item.totalWithoutTaxes }} €</td>
                <td>{{ item.totalAmount }} €</td>
            </tr>
        {% endfor %}
    </table>

    <table class="border ml-auto">
        <tbody>
        {% if pre == 'FA' %}
            <tr>
                <th>Méthode de paiement</th>
                <td>{{ value.payments|length ? value.payments[0].method.name : 'Non renseigné' }}</td>
            </tr>
        {% endif %}
        <tr>
            <th>Total HT</th>
            <td>{{ value.getTotalWithoutTaxes }} €</td>
        </tr>
        <tr>
            <th>Total TVA</th>
            <td>{{ value.getTaxesAmount }} €</td>
        </tr>
        <tr>
            <th>Total TTC</th>
            <td>{{ value.getTotalAmount }} €</td>
        </tr>
        {% if pre == 'FA' %}
            <tr>
                <th>Reste à payer</th>
                <td>{{ value.getOutStandingAmount }} €</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <p class="my-6">{{ value.details }}</p>

    <footer class="mx-auto bottom-0 text-center">
        <p>{{ value.company.name }}</p>
        <p>SIRET: {{ value.company.siret }}</p>
        <p>{{ value.company.address.street }}
            - {{ value.company.address.postalCode }} {{ value.company.address.city }}
            - {{ value.company.address.country }}</p>

    </footer>
</div>