{% extends 'base.html.twig' %}

{% block title %}{{ name.title }}{% endblock %}

{% block main %}
    <h1 class="text-3xl font-semibold mb-6 dark:text-white">Sélection du statut</h1>

    {% if value.isValid %}
        <div class="mb-8 p-4 bg-white dark:bg-gray-900 dark:text-white shadow-lg rounded-lg">
            <h2>Tout est valide</h2>
            {{ form_start(formStatus) }}
            {{ form_row(formStatus.status) }}
            {% if name.title == 'Factures' %}
                {{ form_row(formStatus.paymentMethod) }}
            {% endif %}
            <button type="submit" class="btn btn-primary bg-secondary hover:bg-secondary-hover text-white py-2 px-4 rounded">Valider</button>
            {{ form_end(formStatus) }}
        </div>
    {% endif %}

    <div class="mb-8 p-4 bg-white dark:bg-gray-900 dark:text-white shadow-lg rounded-lg">
        {{ form_start(formExpirationDate is defined ? formExpirationDate : form) }}
        {% if formExpirationDate is defined %}
            {{ form_row(formExpirationDate.expirationDate) }}
        {% else %}
            {{ form_row(form.dueDate) }}
            {{ form_row(form.details) }}
        {% endif %}
        <button type="submit"
                class="btn btn-primary bg-secondary hover:bg-secondary-hover text-white py-2 px-4 rounded">Valider
        </button>
        {{ form_end(formExpirationDate is defined ? formExpirationDate : form) }}
    </div>
    
    {% include './layout/preview.html.twig' %}
    <div class="flex justify-between w-full items-center ">
        {% include './components/a.html.twig' with {
            'path': path('app_user_' ~ name.entity ~ '_step_two', {'id': value.id}),
            'label': 'Étape précédente',
            'fa': 'arrow-left'
        } %}

        {% if value.isValidStepThree %}
            <div class="text-right">
                {% include './components/a.html.twig' with {
                    'path': path('app_user_' ~ name.entity ~ '_step_four', {'id': value.id}),
                    'class': 'w-fit rounded mt-6',
                    'label': 'Étape suivante',
                    'fa': 'arrow-right'
                } %}
            </div>
        {% endif %}
    </div>

{% endblock %}
